{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="block">
        <div class="flex justify-center m-2 p-2">
            <h1 class="text-6xl font-bold dark:text-white">Welcome to Contacts</h1>
        </div>
        <div class="flex justify-center">
            <div class="mx-auto flex flex-col justify-start space-y-4 h-auto w-64 m-2 py-2 rounded-lg shadow-xl bg-white dark:bg-gray-800 dark:border-gray-800">
                <div class="container">
                    <div class="flex flex-col items-center py-1 m-1">
                        <img id="loginlogo" alt="contacts-logo-light" class="h-10 w-auto" src="/static/img/logo.png">
                    </div>
                    <form action="/login" method="post">
                        <div class="flex flex-col items-center py-1 m-1">
                            <input type="text" required id="username" name="username" placeholder="Username" class="h-auto w-auto border-2 px-2 py-1 m-1 shadow-lg rounded-lg border-slate-600">
                        </div>
                        <div class="flex flex-col items-center py-1 m-1">
                            <input type="password" required id="password" name="password" placeholder="Password" class="h-auto w-auto border-2 px-2 py-1 m-1 shadow-lg rounded-lg border-slate-600">
                        </div>
                        <div class="flex flex-col items-center py-1 m-1">
                            <button type="submit" class="h-auto w-auto p-2 m-2 border-2 shadow-lg rounded-lg border-slate-600 font-semibold hover:bg-slate-200 hover:shadow-inner transition-all duration-300 ease-in-out hover:scale-110 dark:bg-white dark:hover:bg-slate-500 dark:hover:shadow-inner dark:hover:text-white dark:border-none">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}